@import 'mixin';
@import 'homeStyle'; 
@import 'specialItems';
@import 'faq';

.App{
    font-size: 62.5%;
    border: 10px $orange solid;

    .wrapper{
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
    }
}