nav{
    
    .logoContainer{
        max-width: 5%;
        position: fixed;
        left: 35px;
        cursor: pointer;
        img{
            width: 100%;
            border-radius: 100px;
            cursor: pointer;
        }
    }
    
    .navContainer{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding-top: 10px;
        
    
        li , a{
            text-decoration: none;
            list-style: none;
            font-size: 1.5rem;
            font-weight: bolder;
            color: $fruitPunch;
        }
    }
}

.signatureDrinkSection{
    display: grid;
    grid-template-columns: 30% auto 20%;
    padding-top: 10vh;
    padding-bottom: 8vh;
    .leftContainer{
        .rumPunchContainer{
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            .decorationBar{
                border-top: 10px solid $orange;
                width: 30%;
            }
    
            h2{
                color: $fruitPunch;
                font-size: 1.5rem;
                font-style: italic;
                font-weight: 900;
                // @include fontLato;
            }
    
            p{
                color: $fruitPunch;
                font-size: 1rem;
                font-weight: 600;
                // @include fontLato;

            }
    
            p:nth-child(4){
                font-size: 1.4rem;
                // font-weight: 800;
                span{
                    font-size:1rem;
                    position:relative;
                    left: 40px;
                }
            }
    
            p:nth-child(5), p:nth-child(6){
                font-size: 0.7rem;
                color: black;
                font-weight: 300;
                a{
                    text-decoration: none;
                    color:$orange;
                    font-weight: 800;
                }
            }
        }
    }
    
    .centerContainer{
        .centerInnerContainer{
            display:flex;
            align-items: center;
            max-width: 100%;
            img{
                width: 100%;
            }
            svg{
                font-size: 5rem;
                color: $fruitPunch;
                cursor: pointer;
                padding-left: 50px;
            }
        }
    }

    .rightContainer{
        padding-left: 100px;
        display:flex;
        align-items: center;

        .rightContainerDes{
            width: 100%;
            color: $fruitPunch;
            h3{
                font-size: 1.5rem;
                font-weight: 800;
            }
            .decorationBar{
                border-top: 2px solid $orange;
            }

            ul{
                list-style: none;
                padding-left: 0;
                li{
                    font-size: 1rem;
                    font-weight: 800;
                }
                li:before{
                    content: '+';
                    margin-right: 4px;
                }
            }
        }
    }
}
