.specialItemsContainer{
    background-color: $yellow;
    padding: 10vh 0 5vh;

    .productContainer{
        display:flex;
        justify-content: space-between;
    
        .productPanel{
            display:flex;
            flex-direction: column;
            align-items: center;
            .productImageContainer{
                max-width: 60%;
                img{
                    width: 100%;
                }
            }
            .productDescription{
                width: 60%;

                h2{
                    font-size: 1.5rem;
                    font-weight: bolder;
                    color: $orange;
                }

                p{
                    color: $orange;
                    font-size: 0.8rem;
                    font-weight: bold;
                }
                ul{
                    padding:0;
                }
                li{
                    list-style: none;
                    font-size: 2rem;
                    color: $orange;
                    font-weight: bolder;
                    span{
                        font-size: 1rem;
                        font-weight: bold;
                        position: relative;
                        left: 40px;
                    }
                }
            }
        }
    }
}